<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Porcinos App</title>
</head>
<body>
  <h1>Bienvenido a la App de Porcinos</h1>
  <a href="/porcinos">Ver porcinos</a>
  <a href="/clientes">Ver clientes</a>
  <br>
  <a href="/porcino/nuevo">Crear nuevo porcino</a>
  <a href="/cliente/nuevo">Crear nuevo cliente</a>
</body>
</html>