<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Porcino - <%= porcino.identificacion %></title>
</head>
<body>
  <h1>Detalle del Porcino</h1>
  <p>Identificación: <%= porcino.identificacion %></p>
  <p>Cliente: <%= porcino.cliente.Nombre %></p> <a href="/porcino/<%= porcino.identificacion %>/editar">Editar</a>
</body>
</html>