<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ver Porcinos</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      color: #333;
    }

    h1 {
      color: #4CAF50;
      font-size: 2em;
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    .error {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Ver Porcinos</h1>
    <div id="message"></div>
    <table id="porcinosTable">
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Cliente (ID)</th>
          <th>Alimentacion</th>
          <th>Edad</th>
          <th>Raza</th>
          <th>Peso</th>
        </tr>
      </thead>
      <tbody>
        </tbody>
    </table>
  </div>

  <script>
    const porcinosTable = document.getElementById('porcinosTable');
    const message = document.getElementById('message');

    // Fetch porcino
    window.onload = async () => {
      try {
        fetch('/porcinos').then(response => response.json()).then(data => {
          console.log('Porcinos:', data);
          populatePorcinoTable(data);
        }).catch(error => {
          console.error('Error fetching porcinos:', error);
          message.textContent = 'Error fetching porcinos';
        });
      } catch (error) {
        console.error('Error fetching porcinos:', error);
        message.textContent = 'Error fetching porcinos';
      }
    };

    function populatePorcinoTable(porcinos) {
      const tableBody = porcinosTable.querySelector('tbody');
      

      porcinos.forEach(porcino => {
        const tableRow = document.createElement('tr');
        const identificacionCell = document.createElement('td');
        const clienteIdCell = document.createElement('td');
        const alimentacionCell = document.createElement('td');
        const edadCell = document.createElement('td');
        const razaCell = document.createElement('td');
        const pesoCell = document.createElement('td');


        identificacionCell.textContent = porcino.identificacion;
        clienteIdCell.textContent = porcino.Cliente;
        alimentacionCell.textContent = porcino.Alimentacion.Descripcion;
        edadCell.textContent = porcino.Edad;
        razaCell.textContent = porcino.Raza;
        pesoCell.textContent = porcino.Peso + ' kg';


        tableRow.appendChild(identificacionCell);
        tableRow.appendChild(clienteIdCell);
        tableRow.appendChild(alimentacionCell);
        tableRow.appendChild(edadCell);
        tableRow.appendChild(razaCell);
        tableRow.appendChild(pesoCell);

        tableBody.appendChild(tableRow);
      });
    }
  </script>
</body>
</html>