<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Inicio</a>
      </li>
    </ul>
  </nav>
  
  <!-- Sidebar -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Porcinos App</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/porcinos" class="nav-link">
              <i class="nav-icon fas fa-piggy-bank"></i>
              <p>Ver Porcinos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/clientes" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Ver Clientes</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/porcino_new" class="nav-link">
              <i class="nav-icon fas fa-plus-circle"></i>
              <p>Crear Nuevo Porcino</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/cliente/nuevo" class="nav-link">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>Crear Nuevo Cliente</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  